.card{
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         
    display: flex;          
    flex-direction: column;
    position: relative;
}

.image{
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

.status{
    display: flex;
    align-items: center;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.star{
    height: 14px;
}

.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}

.price {
    margin-top: auto;
}

.badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}