section{
    padding: 20px;
}

.hero{
    display: flex;
    flex-direction: column;
}
.photo{
    max-width: 400px;
    align-self: center;
}

.header{
    margin-bottom: 16px;
}

.text{
    margin-top: 0;
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
}